In [1]:
# Dependencies

import pandas as pd
import requests
import json
import pprint
import numpy as np
import matplotlib.pyplot as plt
import requests
from census import Census
import gmaps
from us import states

# Census & gmaps API Keys
from config import (api_key, gkey)
year = 2012
c = Census(api_key, year)

# Configure gmaps
gmaps.configure(api_key=gkey)

In [2]:
datalst = []

In [3]:
for year in range(2012, 2018):
    c = Census(api_key, year) 

    data = c.acs5.get(('NAME', "B25077_001E","B25064_001E", "B15003_022E","B19013_001E"), 
                      {'for': 'zip code tabulation area:*'}) 

    cleandata = (pd.DataFrame(data) 
                   .rename(columns={"NAME": "Name", 
                                    "zip code tabulation area": "Zipcode", 
                                    "B25077_001E": "Median_Home_Value", 
                                    "B25064_001E": "Median_Rent", 
                                    "B15003_022E": "Bachelor_Degrees", 
                                    "B19013_001E": "Median_Income"}) 
                   .astype({'Zipcode':'int64'}) 
                   .query('(Median_Home_Value > 0) & (Median_Rent > 0) & (Median_Income > 0)')
                   .dropna()
                   .assign(Year = year)
                 )

    datalst.append(cleandata)


final_data = pd.concat(datalst, ignore_index = True)

In [4]:
final_data

,Name,Median_Home_Value,Median_Rent,Bachelor_Degrees,Median_Income,Zipcode,Year
0,ZCTA5 02322,310500.0,1131.0,456.0,70481.0,2322,2012
1,ZCTA5 02324,333900.0,1144.0,3856.0,90722.0,2324,2012
2,ZCTA5 02330,269100.0,1547.0,1178.0,67963.0,2330,2012
3,ZCTA5 02332,573900.0,957.0,3949.0,117197.0,2332,2012
4,ZCTA5 02333,325700.0,993.0,1430.0,80169.0,2333,2012
5,ZCTA5 02338,312800.0,1229.0,650.0,77905.0,2338,2012
6,ZCTA5 02339,459000.0,916.0,2874.0,99856.0,2339,2012
7,ZCTA5 02341,338300.0,1009.0,1149.0,92736.0,2341,2012
8,ZCTA5 02343,277600.0,1152.0,1359.0,61825.0,2343,2012
9,ZCTA5 02346,311300.0,1081.0,2775.0,74764.0,2346,2012
10,ZCTA5 02347,380400.0,998.0,1592.0,91782.0,2347,2012
11,ZCTA5 02351,325600.0,1141.0,2062.0,76164.0,2351,2012
12,ZCTA5 02356,413500.0,1250.0,2508.0,106139.0,2356,2012
13,ZCTA5 02359,350500.0,1266.0,2887.0,84136.0,2359,2012
14,ZCTA5 02360,336200.0,1181.0,8356.0,77228.0,2360,2012
15,ZCTA5 02364,373700.0,1319.0,2141.0,80172.0,2364,2012
16,ZCTA5 02367,382200.0,636.0,419.0,99500.0,2367,2012
17,ZCTA5 02368,280100.0,1202.0,4350.0,62947.0,2368,2012
18,ZCTA5 02370,282700.0,1036.0,1881.0,64386.0,2370,2012
19,ZCTA5 02375,331100.0,1209.0,1983.0,83370.0,2375,2012
20,ZCTA5 02379,309200.0,890.0,765.0,78207.0,2379,2012
21,ZCTA5 02382,292400.0,1026.0,1705.0,74371.0,2382,2012
22,ZCTA5 02420,672900.0,1909.0,2543.0,139174.0,2420,2012
23,ZCTA5 02421,701900.0,1896.0,3360.0,136653.0,2421,2012
24,ZCTA5 02445,692900.0,1794.0,3835.0,104069.0,2445,2012
25,ZCTA5 02446,657900.0,1726.0,6145.0,78414.0,2446,2012
26,ZCTA5 02451,409100.0,1582.0,3601.0,79637.0,2451,2012
27,ZCTA5 02452,438800.0,1502.0,2416.0,74257.0,2452,2012
28,ZCTA5 02453,391800.0,1220.0,4823.0,68805.0,2453,2012
29,ZCTA5 02458,636300.0,1569.0,2227.0,89238.0,2458,2012
...,...,...,...,...,...,...,...
163750,ZCTA5 99771,86700.0,563.0,4.0,56875.0,99771,2017
163751,ZCTA5 99772,73400.0,773.0,15.0,35000.0,99772,2017
163752,ZCTA5 99773,93800.0,750.0,0.0,39688.0,99773,2017
163753,ZCTA5 99776,104200.0,538.0,0.0,21250.0,99776,2017
163754,ZCTA5 99777,52500.0,481.0,16.0,47778.0,99777,2017
163755,ZCTA5 99778,106300.0,513.0,0.0,33750.0,99778,2017
163756,ZCTA5 99780,142200.0,892.0,55.0,57500.0,99780,2017
163757,ZCTA5 99782,100800.0,900.0,10.0,71250.0,99782,2017
163758,ZCTA5 99783,51300.0,600.0,3.0,31250.0,99783,2017
163759,ZCTA5 99785,75000.0,925.0,3.0,33750.0,99785,2017
163760,ZCTA5 99786,79000.0,650.0,2.0,44500.0,99786,2017
163761,ZCTA5 99789,86700.0,850.0,4.0,82813.0,99789,2017
163762,ZCTA5 99791,116100.0,1063.0,3.0,61250.0,99791,2017
163763,ZCTA5 99801,343600.0,1187.0,5351.0,91743.0,99801,2017
163764,ZCTA5 99820,125000.0,733.0,22.0,36000.0,99820,2017
163765,ZCTA5 99824,334000.0,1141.0,481.0,75577.0,99824,2017
163766,ZCTA5 99826,267500.0,779.0,92.0,61875.0,99826,2017
163767,ZCTA5 99827,238300.0,1012.0,408.0,70091.0,99827,2017
163768,ZCTA5 99829,172300.0,1005.0,66.0,60625.0,99829,2017
163769,ZCTA5 99830,140600.0,938.0,35.0,51250.0,99830,2017
163770,ZCTA5 99833,205000.0,885.0,429.0,63490.0,99833,2017
163771,ZCTA5 99835,350900.0,1104.0,1210.0,70765.0,99835,2017
163772,ZCTA5 99840,293800.0,1069.0,203.0,70673.0,99840,2017
163773,ZCTA5 99901,265700.0,1139.0,1534.0,67321.0,99901,2017
163774,ZCTA5 99919,191700.0,843.0,73.0,50956.0,99919,2017
163775,ZCTA5 99921,225700.0,1015.0,198.0,58047.0,99921,2017
163776,ZCTA5 99922,90700.0,350.0,16.0,31250.0,99922,2017
163777,ZCTA5 99925,160900.0,620.0,37.0,48646.0,99925,2017
163778,ZCTA5 99926,122600.0,656.0,77.0,57969.0,99926,2017
163779,ZCTA5 99929,195900.0,793.0,239.0,55742.0,99929,2017