In [1]:
# Dependencies

import pandas as pd
import requests
import json
import pprint
import numpy as np
import matplotlib.pyplot as plt
import requests
from census import Census
import gmaps
from us import states

# Census & gmaps API Keys
from config import (api_key, gkey)
year = 2012
c = Census(api_key, year)

# Configure gmaps
gmaps.configure(api_key=gkey)

In [2]:
#Zip Codes
file = 'zip_borough.csv'

In [3]:
#ZIPCODE LIST FOR FILTERING

filedf = pd.read_csv(file)
ziplst = filedf['zip'].tolist()

In [4]:
#Census Data Just Temp to test filtering
census_data = c.acs5.get(('NAME', "B25077_001E","B25064_001E",
                          "B15003_022E","B19013_001E"),
                           {'for': 'zip code tabulation area:*'})

In [5]:
census_pd = pd.DataFrame(census_data)

In [6]:
census_pd = census_pd.rename(columns={"NAME": "Name",
                                      "zip code tabulation area": "Zipcode",
                                      "B25077_001E":"Median Home Value",
                                     "B25064_001E":"Median Rent",
                                     "B15003_022E":"Bachelor Degrees",
                                     "B19013_001E":"Median Income"})

In [7]:
filedf = filedf.rename(columns={'zip':'Zipcode'})

In [8]:
#convert into INT to allow Merge
census_df = census_pd.astype({'Zipcode':'int64'})

In [9]:
mergedf = census_df.merge(filedf,on='Zipcode',how='outer')
mergedf = mergedf.astype({'Median Home Value':'float64'})

In [10]:
#drop all NaN
mergedf=mergedf.dropna()

In [11]:
#Cleaned up version of filtering

#census_filtered2 = census_df['Zipcode'].isin(ziplst)
#census_filtered = census_df[census_filtered2]

In [12]:
#census_filtered.head()

In [13]:
mergedf.head()

,Name,Median Home Value,Median Rent,Bachelor Degrees,Median Income,Zipcode,borough
4586,ZCTA5 10001,699800.0,1771.0,5415.0,76138.0,10001,Manhattan
4587,ZCTA5 10002,552100.0,803.0,11969.0,32265.0,10002,Manhattan
4588,ZCTA5 10003,804500.0,1836.0,17110.0,91767.0,10003,Manhattan
4589,ZCTA5 10004,851800.0,2001.0,911.0,127281.0,10004,Manhattan
4590,ZCTA5 10005,1000001.0,2001.0,1940.0,120729.0,10005,Manhattan

In [14]:
#Data Cleaning For Negitive Values

filtervalue = mergedf['Median Home Value']>0
filtervalue2 = mergedf['Median Rent']>0
filtervalue3 = mergedf['Median Income']>0

In [15]:
mergefilter = mergedf[filtervalue][filtervalue2][filtervalue3]

C:\Users\Micha\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

In [16]:
mergefilter=mergefilter.dropna()

In [17]:
#cleaned Data
mergefilter.head()

,Name,Median Home Value,Median Rent,Bachelor Degrees,Median Income,Zipcode,borough
4586,ZCTA5 10001,699800.0,1771.0,5415.0,76138.0,10001,Manhattan
4587,ZCTA5 10002,552100.0,803.0,11969.0,32265.0,10002,Manhattan
4588,ZCTA5 10003,804500.0,1836.0,17110.0,91767.0,10003,Manhattan
4589,ZCTA5 10004,851800.0,2001.0,911.0,127281.0,10004,Manhattan
4590,ZCTA5 10005,1000001.0,2001.0,1940.0,120729.0,10005,Manhattan

In [18]:
datalst = []
data = {}
yearlst = []

In [19]:
for length in range(5):
    c = Census(api_key, year)
    
    data = c.acs5.get(('NAME', "B25077_001E","B25064_001E",
                          "B15003_022E","B19013_001E"),
                           {'for': 'zip code tabulation area:*'})
    
    data_df = pd.DataFrame(data)
    data_df = data_df.rename(columns={"NAME": "Name",
                                      "zip code tabulation area": "Zipcode",
                                      "B25077_001E":"Median Home Value",
                                     "B25064_001E":"Median Rent",
                                     "B15003_022E":"Bachelor Degrees",
                                     "B19013_001E":"Median Income"})
    
    
    data_df = data_df.astype({'Zipcode':'int64'})   
     
    mergedata = data_df.merge(filedf,on='Zipcode',how='outer')
    
    
    filtervalue = mergedata['Median Home Value']>0
    filtervalue2 = mergedata['Median Rent']>0
    filtervalue3 = mergedata['Median Income']>0
    
    cleandata = mergedata[filtervalue][filtervalue2][filtervalue3]
    cleandata = cleandata.dropna()
    
    yearlst.append(year)
    datalst.append(cleandata)
    year += 1

C:\Users\Micha\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:26: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

In [20]:
#c.acs5.get("B15003_022E",{'for': 'zip code tabulation area:*'})

In [21]:
yearlst[1]

2013

In [24]:
datalst[2]

,Name,Median Home Value,Median Rent,Bachelor Degrees,Median Income,Zipcode,borough
1314,ZCTA5 11221,541100.0,1135.0,7347.0,39785.0,11221,Brooklyn
1315,ZCTA5 11222,702800.0,1565.0,9778.0,66610.0,11222,Brooklyn
1316,ZCTA5 11223,612400.0,1120.0,8839.0,40873.0,11223,Brooklyn
1317,ZCTA5 11224,320100.0,732.0,6270.0,27011.0,11224,Brooklyn
1318,ZCTA5 11225,616600.0,1183.0,7531.0,43543.0,11225,Brooklyn
1319,ZCTA5 11226,485900.0,1164.0,10303.0,42182.0,11226,Brooklyn
1320,ZCTA5 11228,690600.0,1287.0,5923.0,62821.0,11228,Brooklyn
1321,ZCTA5 11229,514300.0,1131.0,13132.0,51985.0,11229,Brooklyn
1322,ZCTA5 11230,629700.0,1229.0,12037.0,41820.0,11230,Brooklyn
1323,ZCTA5 11231,939100.0,1629.0,8825.0,83383.0,11231,Brooklyn
1324,ZCTA5 11232,549000.0,1335.0,2341.0,44583.0,11232,Brooklyn
1325,ZCTA5 11233,547500.0,1053.0,5943.0,34432.0,11233,Brooklyn
1326,ZCTA5 11234,488400.0,1277.0,12601.0,67713.0,11234,Brooklyn
1327,ZCTA5 11235,525600.0,1136.0,16653.0,42257.0,11235,Brooklyn
1328,ZCTA5 11236,467500.0,1260.0,10837.0,60135.0,11236,Brooklyn
1329,ZCTA5 11237,496100.0,1299.0,4574.0,42496.0,11237,Brooklyn
1330,ZCTA5 11238,676800.0,1446.0,12021.0,69491.0,11238,Brooklyn
1331,ZCTA5 11239,369600.0,915.0,975.0,27886.0,11239,Brooklyn
1333,ZCTA5 11354,400000.0,1346.0,7735.0,46650.0,11354,Queens
1334,ZCTA5 11355,494900.0,1286.0,10008.0,40539.0,11355,Queens
1335,ZCTA5 11356,550100.0,1501.0,2549.0,59084.0,11356,Queens
1336,ZCTA5 11357,600800.0,1579.0,6420.0,73189.0,11357,Queens
1337,ZCTA5 11358,627600.0,1482.0,6372.0,67277.0,11358,Queens
1339,ZCTA5 11360,517300.0,1966.0,4214.0,79513.0,11360,Queens
1340,ZCTA5 11361,577500.0,1654.0,5769.0,77219.0,11361,Queens
1341,ZCTA5 11362,539700.0,1660.0,3987.0,82058.0,11362,Queens
1342,ZCTA5 11363,698400.0,1665.0,1594.0,92711.0,11363,Queens
1343,ZCTA5 11364,515100.0,1534.0,7048.0,72344.0,11364,Queens
1344,ZCTA5 11365,579800.0,1373.0,6294.0,58990.0,11365,Queens
1345,ZCTA5 11366,624600.0,1547.0,2430.0,71692.0,11366,Queens
...,...,...,...,...,...,...,...
5177,ZCTA5 10473,375400.0,860.0,4732.0,36729.0,10473,Bronx
5178,ZCTA5 10474,368000.0,985.0,611.0,26460.0,10474,Bronx
5179,ZCTA5 10475,48100.0,939.0,5224.0,45886.0,10475,Bronx
5321,ZCTA5 11004,422500.0,1171.0,2324.0,82054.0,11004,Queens
5333,ZCTA5 11101,712100.0,1215.0,4513.0,48509.0,11101,Queens
5334,ZCTA5 11102,602900.0,1464.0,7099.0,50160.0,11102,Queens
5335,ZCTA5 11103,652300.0,1452.0,8783.0,57733.0,11103,Queens
5336,ZCTA5 11104,419400.0,1386.0,5727.0,56578.0,11104,Queens
5337,ZCTA5 11105,657800.0,1487.0,8214.0,60247.0,11105,Queens
5338,ZCTA5 11106,411200.0,1347.0,7780.0,52399.0,11106,Queens
5339,ZCTA5 11109,442300.0,2001.0,1295.0,128693.0,11109,Queens
5340,ZCTA5 11201,714700.0,1902.0,14450.0,98775.0,11201,Brooklyn
5341,ZCTA5 11203,420600.0,1158.0,7089.0,46630.0,11203,Brooklyn
5342,ZCTA5 11204,660800.0,1205.0,8520.0,45593.0,11204,Brooklyn
5343,ZCTA5 11205,621400.0,1182.0,5762.0,47050.0,11205,Brooklyn
5344,ZCTA5 11206,527800.0,893.0,7835.0,30686.0,11206,Brooklyn
5345,ZCTA5 11207,400600.0,1054.0,4876.0,33816.0,11207,Brooklyn
5346,ZCTA5 11208,423100.0,1137.0,4505.0,34527.0,11208,Brooklyn
5347,ZCTA5 11209,629200.0,1330.0,13464.0,59934.0,11209,Brooklyn
5348,ZCTA5 11210,480500.0,1130.0,8725.0,56052.0,11210,Brooklyn
5349,ZCTA5 11211,674900.0,1337.0,17587.0,50943.0,11211,Brooklyn
5350,ZCTA5 11212,383200.0,936.0,4395.0,28146.0,11212,Brooklyn
5351,ZCTA5 11213,599600.0,1064.0,5039.0,34804.0,11213,Brooklyn
5352,ZCTA5 11214,616600.0,1163.0,10886.0,45838.0,11214,Brooklyn
5353,ZCTA5 11215,937700.0,1860.0,18100.0,99040.0,11215,Brooklyn
5354,ZCTA5 11216,646600.0,1146.0,9217.0,45566.0,11216,Brooklyn
5355,ZCTA5 11217,890100.0,1735.0,9809.0,85199.0,11217,Brooklyn
5356,ZCTA5 11218,571800.0,1375.0,10487.0,54441.0,11218,Brooklyn
5357,ZCTA5 11219,746900.0,1209.0,6011.0,35083.0,11219,Brooklyn
5358,ZCTA5 11220,617000.0,1184.0,8299.0,38052.0,11220,Brooklyn