In [1]:
# Dependencies

import pandas as pd
import requests
import json
import pprint
import numpy as np
import matplotlib.pyplot as plt
import requests
from census import Census
import gmaps
from us import states

# Census & gmaps API Keys
from config import (api_key, gkey)
c = Census(api_key, year=2016)

# Configure gmaps
gmaps.configure(api_key=gkey)

In [2]:
#Zip Codes
file = 'zip_borough.csv'

In [3]:
#ZIPCODE LIST FOR FILTERING

filedf = pd.read_csv(file)
ziplst = filedf['zip'].tolist()

In [5]:
#Census Data Just Temp to test filtering
census_data = c.acs5.get(('NAME', "B25077_001E","B25064_001E",
                          "B15003_022E","B19013_001E"),
                           {'for': 'zip code tabulation area:*'})

In [6]:
census_pd = pd.DataFrame(census_data)

In [7]:
census_pd = census_pd.rename(columns={"NAME": "Name",
                                      "zip code tabulation area": "Zipcode",
                                      "B25077_001E":"Median Home Value",
                                     "B25064_001E":"Median Rent",
                                     "B15003_022E":"Bachelor Degrees",
                                     "B19013_001E":"Median Income"})

In [8]:
filedf = filedf.rename(columns={'zip':'Zipcode'})

In [9]:
#convert into INT to allow Merge
census_df = census_pd.astype({'Zipcode':'int64'})

In [35]:
mergedf = census_df.merge(filedf,on='Zipcode',how='outer')
mergedf = mergedf.astype({'Median Home Value':'float64'})

In [11]:
#drop all NaN
mergedf=mergedf.dropna()

In [ ]:
#Cleaned up version of filtering

#census_filtered2 = census_df['Zipcode'].isin(ziplst)
#census_filtered = census_df[census_filtered2]

In [ ]:
#census_filtered.head()

In [13]:
mergedf

,Name,Median Home Value,Median Rent,Bachelor Degrees,Median Income,Zipcode,borough
1642,ZCTA5 10001,460500.0,2114.0,6249.0,85168.0,10001,Manhattan
1643,ZCTA5 10002,608900.0,919.0,13807.0,35594.0,10002,Manhattan
1644,ZCTA5 10003,963100.0,2117.0,17415.0,100791.0,10003,Manhattan
1645,ZCTA5 10004,1250000.0,2911.0,1119.0,123056.0,10004,Manhattan
1646,ZCTA5 10005,1424900.0,3005.0,3053.0,130116.0,10005,Manhattan
1647,ZCTA5 10006,939800.0,2847.0,1336.0,125364.0,10006,Manhattan
1648,ZCTA5 10007,1946100.0,3339.0,1814.0,234958.0,10007,Manhattan
1649,ZCTA5 10009,609700.0,1554.0,17282.0,60788.0,10009,Manhattan
1650,ZCTA5 10010,698800.0,2442.0,10008.0,110142.0,10010,Manhattan
1651,ZCTA5 10011,973200.0,2029.0,16708.0,114134.0,10011,Manhattan
1652,ZCTA5 10012,1322000.0,2128.0,8327.0,101815.0,10012,Manhattan
1653,ZCTA5 10013,2000001.0,1663.0,7617.0,104167.0,10013,Manhattan
1654,ZCTA5 10014,1039000.0,2337.0,13539.0,119026.0,10014,Manhattan
1655,ZCTA5 10016,723300.0,2440.0,17931.0,102703.0,10016,Manhattan
1656,ZCTA5 10017,590200.0,2214.0,6182.0,106795.0,10017,Manhattan
1657,ZCTA5 10018,927100.0,2849.0,3127.0,105479.0,10018,Manhattan
1658,ZCTA5 10019,929700.0,2211.0,13002.0,94477.0,10019,Manhattan
1659,ZCTA5 10020,-666666666.0,-666666666.0,0.0,-666666666.0,10020,Manhattan
1660,ZCTA5 10021,1178900.0,1961.0,14782.0,115681.0,10021,Manhattan
1661,ZCTA5 10022,904000.0,2386.0,11205.0,123693.0,10022,Manhattan
1662,ZCTA5 10023,972600.0,2256.0,15517.0,115080.0,10023,Manhattan
1663,ZCTA5 10024,1272600.0,1947.0,16221.0,118594.0,10024,Manhattan
1664,ZCTA5 10025,963900.0,1450.0,21323.0,80025.0,10025,Manhattan
1665,ZCTA5 10026,695400.0,1045.0,5956.0,52082.0,10026,Manhattan
1666,ZCTA5 10027,672600.0,1063.0,8542.0,42754.0,10027,Manhattan
1667,ZCTA5 10028,1155200.0,2187.0,16773.0,111302.0,10028,Manhattan
1668,ZCTA5 10029,792400.0,911.0,11029.0,32500.0,10029,Manhattan
1669,ZCTA5 10030,531300.0,917.0,3727.0,33720.0,10030,Manhattan
1670,ZCTA5 10031,322500.0,1174.0,7740.0,41848.0,10031,Manhattan
1671,ZCTA5 10032,378100.0,1131.0,9163.0,40054.0,10032,Manhattan
...,...,...,...,...,...,...,...
2728,ZCTA5 11379,588400.0,1400.0,5364.0,75320.0,11379,Queens
2729,ZCTA5 11385,509100.0,1337.0,11323.0,60526.0,11385,Queens
2730,ZCTA5 11411,402500.0,1438.0,2604.0,81678.0,11411,Queens
2731,ZCTA5 11412,392100.0,1333.0,3663.0,71995.0,11412,Queens
2732,ZCTA5 11413,415900.0,1538.0,4786.0,80758.0,11413,Queens
2733,ZCTA5 11414,479900.0,1532.0,3803.0,70490.0,11414,Queens
2734,ZCTA5 11415,334600.0,1432.0,3959.0,64055.0,11415,Queens
2735,ZCTA5 11416,457700.0,1384.0,2768.0,59092.0,11416,Queens
2736,ZCTA5 11417,444600.0,1389.0,3328.0,66978.0,11417,Queens
2737,ZCTA5 11418,470400.0,1395.0,4527.0,63079.0,11418,Queens
2738,ZCTA5 11419,442100.0,1419.0,5208.0,62014.0,11419,Queens
2739,ZCTA5 11420,428800.0,1401.0,4129.0,61484.0,11420,Queens
2740,ZCTA5 11421,430000.0,1449.0,4419.0,64544.0,11421,Queens
2741,ZCTA5 11422,412600.0,1581.0,4022.0,85436.0,11422,Queens
2742,ZCTA5 11423,441900.0,1308.0,4309.0,66070.0,11423,Queens
2745,ZCTA5 11426,479300.0,1554.0,2810.0,77487.0,11426,Queens
2746,ZCTA5 11427,466900.0,1299.0,3197.0,65494.0,11427,Queens
2747,ZCTA5 11428,432400.0,1401.0,1729.0,68675.0,11428,Queens
2748,ZCTA5 11429,393700.0,1371.0,2711.0,77037.0,11429,Queens
2749,ZCTA5 11430,-666666666.0,-666666666.0,11.0,-666666666.0,11430,Queens
2750,ZCTA5 11432,541200.0,1356.0,9649.0,52277.0,11432,Queens
2751,ZCTA5 11433,375900.0,1134.0,2464.0,45820.0,11433,Queens
2752,ZCTA5 11434,380500.0,1138.0,6672.0,57454.0,11434,Queens
2753,ZCTA5 11435,340500.0,1353.0,7400.0,55268.0,11435,Queens
2754,ZCTA5 11436,369700.0,1450.0,1556.0,66837.0,11436,Queens
3561,ZCTA5 11691,434800.0,1089.0,5450.0,41190.0,11691,Queens
3562,ZCTA5 11692,356600.0,867.0,1752.0,42333.0,11692,Queens
3563,ZCTA5 11693,291500.0,924.0,1355.0,53829.0,11693,Queens
3564,ZCTA5 11694,611300.0,1250.0,3401.0,79145.0,11694,Queens
3565,ZCTA5 11697,548100.0,-666666666.0,715.0,100909.0,11697,Queens

In [ ]:
datalist = []

In [ ]:
for zips in ziplst:
    datalist.append(c.acs5.zipcode('NAME',zips))

In [52]:
#Data Cleaning For Negitive Values

filtervalue = mergedf['Median Home Value']>0
filtervalue2 = mergedf['Median Rent']>0
filtervalue3 = mergedf['Median Income']>0

In [53]:
mergefilter = mergedf[filtervalue][filtervalue2][filtervalue3]

C:\Users\Micha\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

In [54]:
mergefilter=mergefilter.dropna()

In [55]:
#cleaned Data
mergefilter

,Name,Median Home Value,Median Rent,Bachelor Degrees,Median Income,Zipcode,borough
1642,ZCTA5 10001,460500.0,2114.0,6249.0,85168.0,10001,Manhattan
1643,ZCTA5 10002,608900.0,919.0,13807.0,35594.0,10002,Manhattan
1644,ZCTA5 10003,963100.0,2117.0,17415.0,100791.0,10003,Manhattan
1645,ZCTA5 10004,1250000.0,2911.0,1119.0,123056.0,10004,Manhattan
1646,ZCTA5 10005,1424900.0,3005.0,3053.0,130116.0,10005,Manhattan
1647,ZCTA5 10006,939800.0,2847.0,1336.0,125364.0,10006,Manhattan
1648,ZCTA5 10007,1946100.0,3339.0,1814.0,234958.0,10007,Manhattan
1649,ZCTA5 10009,609700.0,1554.0,17282.0,60788.0,10009,Manhattan
1650,ZCTA5 10010,698800.0,2442.0,10008.0,110142.0,10010,Manhattan
1651,ZCTA5 10011,973200.0,2029.0,16708.0,114134.0,10011,Manhattan
1652,ZCTA5 10012,1322000.0,2128.0,8327.0,101815.0,10012,Manhattan
1653,ZCTA5 10013,2000001.0,1663.0,7617.0,104167.0,10013,Manhattan
1654,ZCTA5 10014,1039000.0,2337.0,13539.0,119026.0,10014,Manhattan
1655,ZCTA5 10016,723300.0,2440.0,17931.0,102703.0,10016,Manhattan
1656,ZCTA5 10017,590200.0,2214.0,6182.0,106795.0,10017,Manhattan
1657,ZCTA5 10018,927100.0,2849.0,3127.0,105479.0,10018,Manhattan
1658,ZCTA5 10019,929700.0,2211.0,13002.0,94477.0,10019,Manhattan
1660,ZCTA5 10021,1178900.0,1961.0,14782.0,115681.0,10021,Manhattan
1661,ZCTA5 10022,904000.0,2386.0,11205.0,123693.0,10022,Manhattan
1662,ZCTA5 10023,972600.0,2256.0,15517.0,115080.0,10023,Manhattan
1663,ZCTA5 10024,1272600.0,1947.0,16221.0,118594.0,10024,Manhattan
1664,ZCTA5 10025,963900.0,1450.0,21323.0,80025.0,10025,Manhattan
1665,ZCTA5 10026,695400.0,1045.0,5956.0,52082.0,10026,Manhattan
1666,ZCTA5 10027,672600.0,1063.0,8542.0,42754.0,10027,Manhattan
1667,ZCTA5 10028,1155200.0,2187.0,16773.0,111302.0,10028,Manhattan
1668,ZCTA5 10029,792400.0,911.0,11029.0,32500.0,10029,Manhattan
1669,ZCTA5 10030,531300.0,917.0,3727.0,33720.0,10030,Manhattan
1670,ZCTA5 10031,322500.0,1174.0,7740.0,41848.0,10031,Manhattan
1671,ZCTA5 10032,378100.0,1131.0,9163.0,40054.0,10032,Manhattan
1672,ZCTA5 10033,469700.0,1294.0,8766.0,46349.0,10033,Manhattan
...,...,...,...,...,...,...,...
2726,ZCTA5 11377,442500.0,1412.0,13153.0,51675.0,11377,Queens
2727,ZCTA5 11378,552700.0,1447.0,4235.0,61631.0,11378,Queens
2728,ZCTA5 11379,588400.0,1400.0,5364.0,75320.0,11379,Queens
2729,ZCTA5 11385,509100.0,1337.0,11323.0,60526.0,11385,Queens
2730,ZCTA5 11411,402500.0,1438.0,2604.0,81678.0,11411,Queens
2731,ZCTA5 11412,392100.0,1333.0,3663.0,71995.0,11412,Queens
2732,ZCTA5 11413,415900.0,1538.0,4786.0,80758.0,11413,Queens
2733,ZCTA5 11414,479900.0,1532.0,3803.0,70490.0,11414,Queens
2734,ZCTA5 11415,334600.0,1432.0,3959.0,64055.0,11415,Queens
2735,ZCTA5 11416,457700.0,1384.0,2768.0,59092.0,11416,Queens
2736,ZCTA5 11417,444600.0,1389.0,3328.0,66978.0,11417,Queens
2737,ZCTA5 11418,470400.0,1395.0,4527.0,63079.0,11418,Queens
2738,ZCTA5 11419,442100.0,1419.0,5208.0,62014.0,11419,Queens
2739,ZCTA5 11420,428800.0,1401.0,4129.0,61484.0,11420,Queens
2740,ZCTA5 11421,430000.0,1449.0,4419.0,64544.0,11421,Queens
2741,ZCTA5 11422,412600.0,1581.0,4022.0,85436.0,11422,Queens
2742,ZCTA5 11423,441900.0,1308.0,4309.0,66070.0,11423,Queens
2745,ZCTA5 11426,479300.0,1554.0,2810.0,77487.0,11426,Queens
2746,ZCTA5 11427,466900.0,1299.0,3197.0,65494.0,11427,Queens
2747,ZCTA5 11428,432400.0,1401.0,1729.0,68675.0,11428,Queens
2748,ZCTA5 11429,393700.0,1371.0,2711.0,77037.0,11429,Queens
2750,ZCTA5 11432,541200.0,1356.0,9649.0,52277.0,11432,Queens
2751,ZCTA5 11433,375900.0,1134.0,2464.0,45820.0,11433,Queens
2752,ZCTA5 11434,380500.0,1138.0,6672.0,57454.0,11434,Queens
2753,ZCTA5 11435,340500.0,1353.0,7400.0,55268.0,11435,Queens
2754,ZCTA5 11436,369700.0,1450.0,1556.0,66837.0,11436,Queens
3561,ZCTA5 11691,434800.0,1089.0,5450.0,41190.0,11691,Queens
3562,ZCTA5 11692,356600.0,867.0,1752.0,42333.0,11692,Queens
3563,ZCTA5 11693,291500.0,924.0,1355.0,53829.0,11693,Queens
3564,ZCTA5 11694,611300.0,1250.0,3401.0,79145.0,11694,Queens