In [2]:
# Dependencies
import pandas as pd
import requests
import json
import pprint
import numpy as np
import matplotlib.pyplot as plt
import requests
from census import Census
import gmaps
from us import states

# Census & gmaps API Keys
from config import (api_key, gkey)
c = Census(api_key, year=2013)

# Configure gmaps
gmaps.configure(api_key=gkey)

In [3]:
#Zip Codes
file = 'zip_borough.csv'

#ZIPCODE LIST FOR FILTERING
filedf = pd.read_csv(file)
ziplst = filedf['zip'].tolist()
filedf.head()

     zip    borough
0  10001  Manhattan
1  10002  Manhattan
2  10003  Manhattan
3  10004  Manhattan
4  10005  Manhattan

In [4]:
#Zillow home value csv
homeValFile = 'zillow_home_values.csv'
homeVal_df = pd.read_csv(homeValFile, encoding='latin-1')
homeVal_df = homeVal_df.rename(columns={"RegionName": "Zipcode"})
homeVal_df = pd.DataFrame(homeVal_df)
homeVal_df.head()

,RegionID,Zipcode,City,State,Metro,CountyName,SizeRank,1996-04,1996-05,1996-06,...,2018-10,2018-11,2018-12,2019-01,2019-02,2019-03,2019-04,2019-05,2019-06,2019-07
0,61639,10025,New York,NY,New York-Newark-Jersey City,New York County,1,168300.0,168400.0,168400.0,...,1072100,1066500,1054600,1032700,1017300,1011200,991800,974900,970400,969800
1,84654,60657,Chicago,IL,Chicago-Naperville-Elgin,Cook County,2,160000.0,161000.0,161700.0,...,350700,352700,353400,353500,353800,353400,351600,348700,346500,346100
2,61637,10023,New York,NY,New York-Newark-Jersey City,New York County,3,353100.0,353700.0,354200.0,...,1391500,1383600,1378200,1373300,1373500,1366200,1359900,1370300,1397800,1412700
3,91982,77494,Katy,TX,Houston-The Woodlands-Sugar Land,Harris County,4,210400.0,212200.0,212200.0,...,336700,335900,336000,335600,334200,333400,333500,333500,331800,330100
4,84616,60614,Chicago,IL,Chicago-Naperville-Elgin,Cook County,5,194400.0,196100.0,197300.0,...,429900,431500,432700,433200,433000,431700,429700,427300,424300,422100

In [6]:
#convert into INT to allow Merge
homeVal_dff = homeVal_df.astype({'Zipcode':'int64'})

#filter for our NYC zipcodes
homeVal_df2 = homeVal_dff['Zipcode'].isin(ziplst)
homeVal_df = homeVal_dff[homeVal_df2]
homeVal_df = pd.DataFrame(homeVal_df)

homeVal_df

,RegionID,Zipcode,City,State,Metro,CountyName,SizeRank,1996-04,1996-05,1996-06,...,2018-10,2018-11,2018-12,2019-01,2019-02,2019-03,2019-04,2019-05,2019-06,2019-07
0,61639,10025,New York,NY,New York-Newark-Jersey City,New York County,1,168300.0,168400.0,168400.0,...,1072100,1066500,1054600,1032700,1017300,1011200,991800,974900,970400,969800
2,61637,10023,New York,NY,New York-Newark-Jersey City,New York County,3,353100.0,353700.0,354200.0,...,1391500,1383600,1378200,1373300,1373500,1366200,1359900,1370300,1397800,1412700
8,61616,10002,New York,NY,New York-Newark-Jersey City,New York County,9,NaN,NaN,NaN,...,980800,973300,966800,955800,950100,943200,927800,914000,903500,894700
9,61807,10467,New York,NY,New York-Newark-Jersey City,Bronx County,10,140900.0,140900.0,140900.0,...,420900,421300,421700,423100,426200,429200,430200,430500,430700,430300
10,62037,11226,New York,NY,New York-Newark-Jersey City,Kings County,11,153000.0,153000.0,152900.0,...,828500,831200,832700,832300,828900,825600,824700,823700,820200,820200
13,61630,10016,New York,NY,New York-Newark-Jersey City,New York County,14,243700.0,242700.0,241600.0,...,1026600,1020800,1010400,999500,995200,993400,985600,976300,970200,966100
17,62045,11235,New York,NY,New York-Newark-Jersey City,Kings County,18,164100.0,164900.0,165900.0,...,713700,716400,717000,715100,718600,726100,734600,738200,738000,734600
18,62087,11375,New York,NY,New York-Newark-Jersey City,Queens County,19,229500.0,229500.0,230000.0,...,972600,985500,994400,995800,997900,1003700,1009500,1008700,1000300,990700
22,61643,10029,New York,NY,New York-Newark-Jersey City,New York County,23,188100.0,189800.0,191500.0,...,795300,794500,788300,783200,783600,784700,780300,769400,758800,752200
23,61623,10009,New York,NY,New York-Newark-Jersey City,New York County,24,NaN,NaN,NaN,...,1145600,1147700,1147800,1126400,1101600,1091900,1080600,1060200,1043700,1034300
28,61625,10011,New York,NY,New York-Newark-Jersey City,New York County,29,343600.0,348200.0,352800.0,...,1668900,1664900,1661000,1652300,1643300,1629900,1607800,1602100,1613900,1620900
29,61703,10128,New York,NY,New York-Newark-Jersey City,New York County,30,271900.0,270700.0,269600.0,...,1237600,1221700,1214400,1210100,1200700,1189700,1179100,1166200,1153800,1147000
43,62017,11206,New York,NY,New York-Newark-Jersey City,Kings County,44,160700.0,160700.0,160800.0,...,727900,735900,740400,740700,744600,746200,743100,740700,741700,740400
45,61802,10462,New York,NY,New York-Newark-Jersey City,Bronx County,46,NaN,NaN,NaN,...,152600,154400,155800,156700,157500,158600,160200,161800,163300,164500
47,61617,10003,New York,NY,New York-Newark-Jersey City,New York County,48,314200.0,314400.0,314700.0,...,1661200,1653900,1641100,1626200,1618300,1603300,1575100,1555200,1551200,1553300
51,61633,10019,New York,NY,New York-Newark-Jersey City,New York County,52,289500.0,291700.0,293900.0,...,1263800,1251100,1235800,1214500,1202700,1193400,1178600,1169700,1173000,1175500
52,61803,10463,New York,NY,New York-Newark-Jersey City,New York County,53,178500.0,179100.0,179600.0,...,666100,669600,674600,676000,676200,674400,668200,661100,658300,655600
55,62023,11212,New York,NY,New York-Newark-Jersey City,Kings County,56,124900.0,124900.0,125000.0,...,457600,460300,459400,457300,458000,460300,460100,459200,457300,452700
56,62040,11230,New York,NY,New York-Newark-Jersey City,Kings County,57,215800.0,215800.0,215700.0,...,1107500,1117200,1121200,1122300,1127300,1129900,1128300,1113400,1086700,1065700
59,62020,11209,New York,NY,New York-Newark-Jersey City,Kings County,60,234600.0,235900.0,237000.0,...,1003000,1005000,1000400,999900,1011400,1025400,1033100,1033900,1036200,1037900
64,62032,11221,New York,NY,New York-Newark-Jersey City,Kings County,65,127200.0,127000.0,126900.0,...,977600,984800,982100,968200,955400,940400,921900,905700,900600,899600
75,62025,11214,New York,NY,New York-Newark-Jersey City,Kings County,76,174000.0,174400.0,174900.0,...,710600,712800,711900,708600,706300,706900,709200,708900,705000,700700
82,62039,11229,New York,NY,New York-Newark-Jersey City,Kings County,83,178500.0,178800.0,179100.0,...,772200,773300,772700,771800,773100,773900,771900,767200,762800,759100
94,62088,11377,New York,NY,New York-Newark-Jersey City,Queens County,95,169500.0,169600.0,169800.0,...,744600,748400,752700,757600,763200,763700,757800,751700,751600,753500
106,61790,10314,New York,NY,New York-Newark-Jersey City,Richmond County,107,165000.0,164700.0,164200.0,...,526800,532900,534400,530700,527000,524000,518500,514500,515800,517700
107,62022,11211,New York,NY,New York-Newark-Jersey City,Kings County,108,146000.0,146300.0,146500.0,...,961900,961300,964300,966700,970300,971900,973000,973900,976000,975700
108,62044,11234,New York,NY,New York-Newark-Jersey City,Kings County,109,170900.0,170700.0,170600.0,...,611500,616300,617800,620200,623400,623900,623500,622700,621100,619000
110,62067,11355,New York,NY,New York-Newark-Jersey City,Queens County,111,161500.0,161500.0,161500.0,...,741200,744400,746600,747900,748000,748100,748400,748000,743800,737000
113,62026,11215,New York,NY,New York-Newark-Jersey City,Kings County,114,156700.0,156700.0,156600.0,...,1273900,1262800,1252100,1241400,1235100,1228300,1222600,1224800,1224700,1214600
141,62048,11238,New York,NY,New York-Newark-Jersey City,Kings County,142,128500.0,129000.0,129500.0,...,1001700,989600,978800,973400,971700,970500,973600,977900,978300,975100
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5864,62081,11369,New York,NY,New York-Newark-Jersey City,Queens County,5865,160400.0,160700.0,161200.0,...,700500,699800,698700,697500,697800,697300,695400,693800,693700,692800
5919,61779,10303,New York,NY,New York-Newark-Jersey City,Richmond County,5920,124100.0,123900.0,123700.0,...,369500,372900,372900,370600,367200,364200,360500,358700,361400,365400
5979,62182,11694,New York,NY,New York-Newark-Jersey City,Queens County,5980,269100.0,270200.0,271300.0,...,864300,861800,859400,858200,856700,853000,849300,844000,838800,836900
5989,62108,11422,New York,NY,New York-Newark-Jersey City,Queens County,5990,159500.0,159500.0,159600.0,...,468400,472100,474800,477800,481400,481900,477800,475400,478300,482400
6237,62103,11417,New York,NY,New York-Newark-Jersey City,Queens County,6238,153200.0,153200.0,153300.0,...,519400,523500,525900,527300,528900,529100,528100,529100,532500,534000
6271,62113,11427,New York,NY,New York-Newark-Jersey City,Queens County,6272,176700.0,176900.0,177300.0,...,633100,638200,641600,642000,640700,635800,628700,622400,619600,617800
6462,62180,11692,New York,NY,New York-Newark-Jersey City,Queens County,6463,114000.0,114000.0,114300.0,...,359100,362900,366300,372500,377200,374600,370700,371400,372900,372900
6629,62082,11370,New York,NY,New York-Newark-Jersey City,Queens County,6630,164300.0,164600.0,164900.0,...,687100,694500,695800,694900,697800,702900,708200,709400,707100,703300
6812,62068,11356,New York,NY,New York-Newark-Jersey City,Queens County,6813,164500.0,165100.0,165800.0,...,731800,735100,737500,739600,742100,740300,731500,721000,713900,709200
7003,61619,10005,New York,NY,New York-Newark-Jersey City,New York County,7004,287500.0,286000.0,284200.0,...,1161700,1157000,1146200,1132000,1131900,1131000,1118700,1106700,1100700,1093300
7107,62115,11429,New York,NY,New York-Newark-Jersey City,Queens County,7108,146900.0,147100.0,147500.0,...,470100,474800,476800,478900,481600,482700,480300,477200,477300,478400
7241,62074,11362,New York,NY,New York-Newark-Jersey City,Queens County,7242,259900.0,260300.0,260800.0,...,923100,922300,919000,916900,919700,922300,922300,918600,913600,908000
7301,62097,11411,New York,NY,New York-Newark-Jersey City,Queens County,7302,161400.0,161500.0,161700.0,...,461100,463900,465200,466000,466100,463500,458500,454200,454400,456700
7315,61810,10470,New York,NY,New York-Newark-Jersey City,Bronx County,7316,177800.0,177000.0,176100.0,...,467800,466300,464000,465300,468100,470600,473300,477000,480800,483200
7351,62112,11426,New York,NY,New York-Newark-Jersey City,Queens County,7352,179600.0,180200.0,181000.0,...,614400,617700,620100,621100,621000,619700,617300,613400,612200,612700
7472,61778,10302,New York,NY,New York-Newark-Jersey City,Richmond County,7473,134200.0,134000.0,133900.0,...,425200,432700,435200,432200,428000,423000,416200,409100,407200,409400
7651,62114,11428,New York,NY,New York-Newark-Jersey City,Queens County,7652,153700.0,153900.0,154100.0,...,550400,552700,552400,551500,550200,547200,543200,541500,542100,542600
7751,61657,10044,New York,NY,New York-Newark-Jersey City,New York County,7752,259600.0,261200.0,262500.0,...,986600,975200,966900,963000,964700,964300,949500,935300,931500,932400
7932,61979,11004,New York,NY,New York-Newark-Jersey City,Queens County,7933,214800.0,214900.0,215100.0,...,646000,650000,653500,654200,653900,652800,651100,648700,648900,650200
8090,61771,10280,New York,NY,New York-Newark-Jersey City,New York County,8091,184100.0,183000.0,182000.0,...,872300,864800,858600,854100,860100,864400,849300,830200,824800,826300
8234,62102,11416,New York,NY,New York-Newark-Jersey City,Queens County,8235,140900.0,141100.0,141400.0,...,526800,530700,530900,530100,530700,530000,529400,530600,533000,534300
8236,62122,11436,New York,NY,New York-Newark-Jersey City,Queens County,8237,118800.0,119200.0,119700.0,...,435300,438400,441000,444000,448800,452300,451600,447900,445700,444700
8501,62078,11366,New York,NY,New York-Newark-Jersey City,Queens County,8502,230000.0,230200.0,230600.0,...,907700,912000,911800,911700,912300,912800,913500,911700,907900,905600
8629,61783,10307,New York,NY,New York-Newark-Jersey City,Richmond County,8630,182600.0,182700.0,182800.0,...,576700,586600,590300,587900,586800,584900,579100,573400,570700,567700
8974,61664,10069,New York,NY,New York-Newark-Jersey City,New York County,8975,919500.0,912800.0,906100.0,...,1789700,1756100,1730300,1701300,1677900,1689600,1709900,1712800,1699300,1694300
9368,61621,10007,New York,NY,New York-Newark-Jersey City,New York County,9369,NaN,NaN,NaN,...,2704000,2684900,2655500,2641600,2629900,2605800,2580500,2557200,2533000,2521100
10315,62075,11363,New York,NY,New York-Newark-Jersey City,Queens County,10316,291700.0,293000.0,294400.0,...,1033800,1034700,1026100,1017200,1013300,1013300,1018400,1016800,1004600,993600
10324,61620,10006,New York,NY,New York-Newark-Jersey City,New York County,10325,183300.0,182800.0,182400.0,...,941000,944800,927800,910600,911900,911600,887900,867400,865000,865400
10889,61618,10004,New York,NY,New York-Newark-Jersey City,New York County,10890,265500.0,264000.0,262200.0,...,1113000,1122500,1125400,1113000,1104600,1095400,1067700,1042900,1026000,1006200
11562,61804,10464,New York,NY,New York-Newark-Jersey City,Bronx County,11563,189400.0,189300.0,189100.0,...,536300,536100,538900,543600,545800,544700,544300,546900,549800,549500

In [10]:
# Median home value is given monthly, we've mainly dealt with yearly data so I averaged the months for each year

#create a work data frame with the months of 1996 and dropped missing values
yearData = pd.DataFrame(homeVal_df.iloc[:,7:16])
yearData = yearData.dropna()

#create clean data frame with our NY zipcodes as the first column
medCleanData = pd.DataFrame(homeVal_df['Zipcode'])

#add a column with the averages from 1996 (only 9 months given)
medCleanData['1996 Median Home Value'] = (yearData['1996-04'] + yearData['1996-05'] + yearData['1996-06'] +
                     yearData['1996-07'] + yearData['1996-08'] + yearData['1996-09'] + 
                     yearData['1996-10'] + yearData['1996-11'] + yearData['1996-12'])/9 
medCleanData['1996 Median Home Value'] = medCleanData['1996 Median Home Value'].round()

#loop through years 1997-2018 and complete the same process
yr = 1997
i = 16
while yr < 2019:
    yearData = pd.DataFrame(homeVal_df.iloc[:, i:(i+12)])
    yearData = yearData.dropna()
    medCleanData[str(yr)+' Median Home Value'] = (yearData[str(yr)+'-01'] + yearData[str(yr)+'-02'] + yearData[str(yr)+'-03'] + 
                          yearData[str(yr)+'-04'] + yearData[str(yr)+'-05'] + yearData[str(yr)+'-06'] + 
                          yearData[str(yr)+'-07'] + yearData[str(yr)+'-08'] + yearData[str(yr)+'-09'] + 
                          yearData[str(yr)+'-10'] + yearData[str(yr)+'-11'] + yearData[str(yr)+'-12'])/12
    medCleanData[str(yr)+' Median Home Value'] = medCleanData[str(yr)+' Median Home Value'].round()
    i = i + 12
    yr = yr + 1
    
#do same for year 2019 (only 7 months given)
yearData = pd.DataFrame(homeVal_df.iloc[:, i:(i+7)])
yearData = yearData.dropna()
medCleanData[str(yr)+' Median Home Value'] = (yearData[str(yr)+'-01'] + yearData[str(yr)+'-02'] + 
                      yearData[str(yr)+'-03'] + yearData[str(yr)+'-04'] + 
                      yearData[str(yr)+'-05'] + yearData[str(yr)+'-06'] + 
                      yearData[str(yr)+'-07'])/7
medCleanData[str(yr)+' Median Home Value'] = medCleanData[str(yr)+' Median Home Value'].round()


medCleanData.head()

,Zipcode,1996 Median Home Value,1997 Median Home Value,1998 Median Home Value,1999 Median Home Value,2000 Median Home Value,2001 Median Home Value,2002 Median Home Value,2003 Median Home Value,2004 Median Home Value,...,2010 Median Home Value,2011 Median Home Value,2012 Median Home Value,2013 Median Home Value,2014 Median Home Value,2015 Median Home Value,2016 Median Home Value,2017 Median Home Value,2018 Median Home Value,2019 Median Home Value
0,10025,169022.0,181767.0,210567.0,266700.0,355642.0,414375.0,415192.0,484758.0,577858.0,...,767983.0,740925.0,758875.0,869350.0,940908.0,1017367.0,1110608.0,1095017.0,1101108.0,995443.0
2,10023,355322.0,379225.0,434183.0,478775.0,563167.0,654467.0,678167.0,749042.0,830892.0,...,1007850.0,1163883.0,1229458.0,1323975.0,1413975.0,1480550.0,1595358.0,1605383.0,1460642.0,1379100.0
8,10002,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,473925.0,...,641658.0,678158.0,718558.0,732975.0,793742.0,825633.0,885350.0,975483.0,988367.0,927014.0
9,10467,140722.0,142117.0,147367.0,157225.0,172733.0,191217.0,214867.0,234717.0,269517.0,...,300417.0,291392.0,270792.0,289508.0,310083.0,322825.0,344808.0,369408.0,408967.0,428600.0
10,11226,153433.0,158317.0,167650.0,178633.0,195575.0,216442.0,239417.0,283850.0,317325.0,...,394200.0,405758.0,442675.0,438208.0,487908.0,577958.0,624725.0,673608.0,800092.0,825086.0

In [12]:
change = medCleanData[['Zipcode', '2019 Median Home Value', '2018 Median Home Value']]
yr = 2018
change

       Zipcode  2019 Median Home Value  2018 Median Home Value
0        10025                995443.0               1101108.0
2        10023               1379100.0               1460642.0
8        10002                927014.0                988367.0
9        10467                428600.0                408967.0
10       11226                825086.0                800092.0
13       10016                983757.0               1028058.0
17       11235                729314.0                719642.0
18       11375               1000943.0                973358.0
22       10029                773171.0                789067.0
23       10009               1076957.0               1151383.0
28       10011               1624314.0               1702608.0
29       10128               1178086.0               1231608.0
43       11206                742486.0                703400.0
45       10462                160371.0                145375.0
47       10003               1583229.0               1675408.0
51       10019               1186771.0               1269433.0
52       10463                667114.0                650408.0
55       11212                457843.0                439583.0
56       11230               1110514.0               1063042.0
59       11209               1025400.0                982942.0
64       11221                927400.0                951483.0
75       11214                706514.0                701533.0
82       11229                768543.0                758858.0
94       11377                757014.0                733767.0
106      10314                521171.0                516592.0
107      11211                972500.0                965817.0
108      11234                621971.0                593833.0
110      11355                745886.0                716458.0
113      11215               1227357.0               1283725.0
141      11238                974357.0               1019475.0
...        ...                     ...                     ...
5864     11369                695471.0                684467.0
5919     10303                364000.0                361200.0
5979     11694                848129.0                861858.0
5989     11422                479286.0                461075.0
6237     11417                529857.0                509433.0
6271     11427                629571.0                606575.0
6462     11692                373171.0                346167.0
6629     11370                703371.0                670375.0
6812     11356                728229.0                720167.0
7003     10005               1116329.0               1187242.0
7107     11429                479486.0                461100.0
7241     11362                917343.0                914250.0
7301     11411                459914.0                452933.0
7315     10470                474043.0                466083.0
7351     11426                616771.0                604358.0
7472     10302                417871.0                414850.0
7651     11428                545471.0                535675.0
7751     10044                948671.0               1008983.0
7932     11004                651400.0                636367.0
8090     10280                844171.0                892892.0
8234     11416                531157.0                516408.0
8236     11436                447857.0                415625.0
8501     11366                910786.0                891025.0
8629     10307                578643.0                562342.0
8974     10069               1697871.0               1876300.0
9368     10007               2581300.0               2700300.0
10315    11363               1011029.0               1025500.0
10324    10006                888543.0                923633.0
10889    10004               1065114.0               1105650.0
11562    10464                546371.0                532958.0

[142 rows x 3 columns]

In [23]:
#put individual year data frames into a list
yr = 1996
ZdataList = []
while yr < 2020:
    yearData = medCleanData[['Zipcode', str(yr)+' Median Home Value']]
    ZdataList.append(yearData)
    yr = yr + 1
ZdataList[23].head()

    Zipcode  2019 Median Home Value
0     10025                995443.0
2     10023               1379100.0
8     10002                927014.0
9     10467                428600.0
10    11226                825086.0

In [7]:
#Zillow rent price csv
rentFile = 'zillow_rental_price.csv'
rent_df = pd.read_csv(rentFile, encoding='latin-1')
rent_df = rent_df.rename(columns={"RegionName": "Zipcode"})
rent_df = pd.DataFrame(rent_df)

#convert into INT to allow Merge
rent_dff = rent_df.astype({'Zipcode':'int64'})

#filter for our NYC zipcodes
rent_df2 = rent_dff['Zipcode'].isin(ziplst)
rent_df = rent_dff[rent_df2]
rent_df = pd.DataFrame(rent_df)

rent_df.head()

,Zipcode,City,State,Metro,CountyName,SizeRank,2010-02,2010-03,2010-04,2010-05,...,2018-10,2018-11,2018-12,2019-01,2019-02,2019-03,2019-04,2019-05,2019-06,2019-07
0,10025,New York,NY,New York-Newark-Jersey City,New York County,1,NaN,NaN,NaN,NaN,...,3392.5,3400.0,3492.5,3400.0,3400.0,3402.5,3380.0,3500.0,3470.0,3402.5
2,10023,New York,NY,New York-Newark-Jersey City,New York County,3,NaN,NaN,3425.0,3250.0,...,3792.5,3750.0,3750.0,3750.0,3600.0,3500.0,3562.5,3695.0,3600.0,3587.5
8,10002,New York,NY,New York-Newark-Jersey City,New York County,9,NaN,NaN,NaN,NaN,...,3125.0,3125.0,3195.0,3050.0,3112.5,3100.0,3000.0,3250.0,3297.5,3195.0
9,10467,New York,NY,New York-Newark-Jersey City,Bronx County,10,NaN,NaN,NaN,NaN,...,1500.0,1400.0,1400.0,1500.0,1500.0,1550.0,1500.0,1500.0,1500.0,1487.5
10,11226,New York,NY,New York-Newark-Jersey City,Kings County,11,NaN,NaN,NaN,NaN,...,1750.0,1700.0,1800.0,1700.0,1687.5,1650.0,1675.0,1650.0,1600.0,1650.0

In [8]:
# Median rental is given monthly, we've mainly dealt with yearly data so I averaged the months for each year


#create clean data frame with our NY zipcodes as the first column
rentCleanData = pd.DataFrame(homeVal_df['Zipcode'])

#loop through years 2011-2018 and computed the average median rental price for each year
yr = 2011
i = 17
while yr < 2019:
    yearData = pd.DataFrame(rent_df.iloc[:, i:(i+12)])
    yearData = yearData.dropna()
    rentCleanData[str(yr)+' Median Rental Price'] = (yearData[str(yr)+'-01'] + yearData[str(yr)+'-02'] + yearData[str(yr)+'-03'] + 
                          yearData[str(yr)+'-04'] + yearData[str(yr)+'-05'] + yearData[str(yr)+'-06'] + 
                          yearData[str(yr)+'-07'] + yearData[str(yr)+'-08'] + yearData[str(yr)+'-09'] + 
                          yearData[str(yr)+'-10'] + yearData[str(yr)+'-11'] + yearData[str(yr)+'-12'])/12
    rentCleanData[str(yr)+' Median Rental Price'] = rentCleanData[str(yr)+' Median Rental Price'].round()
    i = i + 12
    yr = yr + 1
    
#do same for year 2019 (only 7 months given)
yearData = pd.DataFrame(rent_df.iloc[:, i:(i+7)])
yearData = yearData.dropna()
rentCleanData[str(yr)+' Median Rental Price'] = (yearData[str(yr)+'-01'] + yearData[str(yr)+'-02'] + 
                                              yearData[str(yr)+'-03'] + yearData[str(yr)+'-04'] + 
                                              yearData[str(yr)+'-05'] + yearData[str(yr)+'-06'] + 
                                              yearData[str(yr)+'-07'])/7
rentCleanData[str(yr)+' Median Rental Price'] = rentCleanData[str(yr)+' Median Rental Price'].round()

rentCleanData.head()

,Zipcode,2011 Median Rental Price,2012 Median Rental Price,2013 Median Rental Price,2014 Median Rental Price,2015 Median Rental Price,2016 Median Rental Price,2017 Median Rental Price,2018 Median Rental Price,2019 Median Rental Price
0,10025,2916.0,3045.0,3260.0,3389.0,3437.0,3474.0,3426.0,3402.0,3422.0
2,10023,3492.0,3464.0,3418.0,3727.0,3767.0,3659.0,3660.0,3611.0,3614.0
8,10002,NaN,2753.0,2878.0,3136.0,3153.0,3039.0,3110.0,3180.0,3144.0
9,10467,NaN,NaN,NaN,NaN,NaN,NaN,1268.0,1419.0,1505.0
10,11226,NaN,NaN,NaN,NaN,NaN,NaN,1591.0,1691.0,1659.0

In [28]:
#adding the renal column to each of our individual year data frames
i = 0
yr = 1996
ZZdataList = []
#no data for 1996-2010
while i < 15:
    ZdataList[i][str(yr)+' Median Rental Price'] = np.nan
    yearData = pd.DataFrame(ZdataList[i])
    ZZdataList.append(yearData)
    i = i + 1
    yr = yr + 1
#data from our rentCleanData table for 2011-2019   
while i < 24:
    ZdataList[i][str(yr)+' Median Rental Price'] = rentCleanData[str(yr)+' Median Rental Price']
    yearData = pd.DataFrame(ZdataList[i])
    ZZdataList.append(yearData)
    i = i + 1
    yr = yr + 1
    
ZZdataList[23].head()

C:\Users\denni\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\denni\Anaconda3\lib\site-packages\ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  del sys.path[0]

    Zipcode  2019 Median Home Value  2019 Median Rental Price
0     10025                995443.0                    3422.0
2     10023               1379100.0                    3614.0
8     10002                927014.0                    3144.0
9     10467                428600.0                    1505.0
10    11226                825086.0                    1659.0