In [10]:
# Dependencies

import pandas as pd
import requests
import json
import pprint
import numpy as np
import matplotlib.pyplot as plt
import requests
from census import Census
import gmaps
from us import states

# Census & gmaps API Keys
from config import (api_key, gkey)
c = Census(api_key, year=2013)

# Configure gmaps
gmaps.configure(api_key=gkey)

In [2]:
#Zip Codes
file = 'zip_borough.csv'

In [4]:
#ZIPCODE LIST FOR FILTERING

filedf = pd.read_csv(file)
ziplst = filedf['zip'].tolist()

In [30]:
#Census Data Just Temp to test filtering
census_data = c.acs5.get(('NAME', 'B25034_010E'),
           {'for': 'zip code tabulation area:*'})

In [34]:
census_pd = pd.DataFrame(census_data)

In [35]:
census_pd = census_pd.rename(columns={"NAME": "Name", "zip code tabulation area": "Zipcode"})

In [50]:
filedf = filedf.rename(columns={'zip':'Zipcode'})

In [ ]:
#convert into INT to allow Merge
census_df = census_pd.astype({'Zipcode':'int64'})

In [106]:
mergedf = census_df.merge(filedf,on='Zipcode',how='outer')

In [108]:
#drop all NaN
mergedf.dropna()

             Name  B25034_010E  Zipcode borough
2021  ZCTA5 11004        230.0    11004  Queens
2033  ZCTA5 11101       4678.0    11101  Queens
2034  ZCTA5 11102       5330.0    11102  Queens
2035  ZCTA5 11103       8805.0    11103  Queens
2036  ZCTA5 11104       7041.0    11104  Queens
...           ...          ...      ...     ...
3897  ZCTA5 11691       3448.0    11691  Queens
3898  ZCTA5 11692        792.0    11692  Queens
3899  ZCTA5 11693       1144.0    11693  Queens
3900  ZCTA5 11694       3287.0    11694  Queens
3901  ZCTA5 11697        513.0    11697  Queens

[205 rows x 4 columns]