In [1]:
# Dependencies

import pandas as pd
import requests
import json
import pprint
import numpy as np
import matplotlib.pyplot as plt
import requests
from census import Census
import gmaps
from us import states

# Census & gmaps API Keys
from config import (api_key, gkey)
year = 2012
c = Census(api_key, year)

# Configure gmaps
gmaps.configure(api_key=gkey)

In [2]:
#Zip Codes
file = 'zip_borough.csv'

In [3]:
#ZIPCODE LIST FOR FILTERING

filedf = pd.read_csv(file)
ziplst = filedf['zip'].tolist()

In [4]:
#Census Data Just Temp to test filtering
census_data = c.acs5.get(('NAME', "B25077_001E","B25064_001E",
                          "B15003_022E","B19013_001E"),
                           {'for': 'zip code tabulation area:*'})

In [5]:
census_pd = pd.DataFrame(census_data)

In [6]:
census_pd = census_pd.rename(columns={"NAME": "Name",
                                      "zip code tabulation area": "Zipcode",
                                      "B25077_001E":"Median Home Value",
                                     "B25064_001E":"Median Rent",
                                     "B15003_022E":"Bachelor Degrees",
                                     "B19013_001E":"Median Income"})

In [7]:
filedf = filedf.rename(columns={'zip':'Zipcode'})

In [8]:
#convert into INT to allow Merge
census_df = census_pd.astype({'Zipcode':'int64'})

In [9]:
mergedf = census_df.merge(filedf,on='Zipcode',how='outer')
mergedf = mergedf.astype({'Median Home Value':'float64'})

In [10]:
#drop all NaN
mergedf=mergedf.dropna()

In [11]:
#Cleaned up version of filtering

#census_filtered2 = census_df['Zipcode'].isin(ziplst)
#census_filtered = census_df[census_filtered2]

In [12]:
#census_filtered.head()

In [13]:
mergedf.head()

,Name,Median Home Value,Median Rent,Bachelor Degrees,Median Income,Zipcode,borough
4586,ZCTA5 10001,699800.0,1771.0,5415.0,76138.0,10001,Manhattan
4587,ZCTA5 10002,552100.0,803.0,11969.0,32265.0,10002,Manhattan
4588,ZCTA5 10003,804500.0,1836.0,17110.0,91767.0,10003,Manhattan
4589,ZCTA5 10004,851800.0,2001.0,911.0,127281.0,10004,Manhattan
4590,ZCTA5 10005,1000001.0,2001.0,1940.0,120729.0,10005,Manhattan

In [14]:
#Data Cleaning For Negitive Values

filtervalue = mergedf['Median Home Value']>0
filtervalue2 = mergedf['Median Rent']>0
filtervalue3 = mergedf['Median Income']>0

In [15]:
mergefilter = mergedf[filtervalue][filtervalue2][filtervalue3]

C:\Users\Micha\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

In [16]:
mergefilter=mergefilter.dropna()

In [17]:
#cleaned Data
mergefilter.head()

,Name,Median Home Value,Median Rent,Bachelor Degrees,Median Income,Zipcode,borough
4586,ZCTA5 10001,699800.0,1771.0,5415.0,76138.0,10001,Manhattan
4587,ZCTA5 10002,552100.0,803.0,11969.0,32265.0,10002,Manhattan
4588,ZCTA5 10003,804500.0,1836.0,17110.0,91767.0,10003,Manhattan
4589,ZCTA5 10004,851800.0,2001.0,911.0,127281.0,10004,Manhattan
4590,ZCTA5 10005,1000001.0,2001.0,1940.0,120729.0,10005,Manhattan

In [18]:
datalst = []
data = {}
yearlst = []

In [19]:
for length in range(5):
    c = Census(api_key, year)
    
    data = c.acs5.get(('NAME', "B25077_001E","B25064_001E",
                          "B15003_022E","B19013_001E"),
                           {'for': 'zip code tabulation area:*'})
    
    data_df = pd.DataFrame(data)
    data_df = data_df.rename(columns={"NAME": "Name",
                                      "zip code tabulation area": "Zipcode",
                                      "B25077_001E":"Median Home Value",
                                     "B25064_001E":"Median Rent",
                                     "B15003_022E":"Bachelor Degrees",
                                     "B19013_001E":"Median Income"})
    
    
    data_df = data_df.astype({'Zipcode':'int64'})   
     
    mergedata = data_df.merge(filedf,on='Zipcode',how='outer')
    
    
    filtervalue = mergedata['Median Home Value']>0
    filtervalue2 = mergedata['Median Rent']>0
    filtervalue3 = mergedata['Median Income']>0
    
    cleandata = mergedata[filtervalue][filtervalue2][filtervalue3]
    cleandata = cleandata.dropna()
    
    yearlst.append(year)
    datalst.append(cleandata)
    year += 1

C:\Users\Micha\AppData\Local\Programs\Python\Python37\lib\site-packages\ipykernel_launcher.py:26: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

In [20]:
#c.acs5.get("B15003_022E",{'for': 'zip code tabulation area:*'})

In [25]:
yearlst

[2012, 2013, 2014, 2015, 2016]